
.home {
    background-image:url('../assets/img/polygon-scatter-haikei.svg');
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position:right;
    min-height: 90vh;
}

.home .container {
    background-color: #ffffff10;
    backdrop-filter: blur(12px) !important;
    border-radius: 15px;
}

.home h2 {
  font-size: 6rem;
  user-select: none;
  font-family: 'Chakra Petch', sans-serif;
}

.home h4 {
  font-size: 1.6rem;
  user-select: none;
  font-family: 'Chakra Petch', sans-serif;
}

/* Button style */

.home button {
    position: relative;
    background: transparent;
    color: #212529;
    text-transform: uppercase;
    border: 3px solid #212529;
    cursor: pointer;
    overflow: hidden;
  }


