.projects {
    background-image:url('../assets/img/about-bg.svg');
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position:center;
    min-height: 100vh;
}

.thin-line {
    width: 300px;
    height: 1px;
    background-color: #ffa500;
}