/* Modal & Card additional details */
.modal {
    backdrop-filter: blur(5px);
}

.line {
    height: 0.01rem;
    background: black;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    --bs-btn-close-focus-shadow: none !important;
}

.main-card {
    cursor: pointer;
}

/* Fix this styles later */
.tools-list li::before {
    content: "▹";
    color: #ffa500;
    padding-right: 5px;
}

.project-link {
    color: #ddd;
    transition: all 0.25s ease-in-out;
}

.card-link {
    color: #212529;
    transition: all 0.25s ease-in-out;
}

.card-link:hover {
    color: #ffa500;
}
