/* Rubik Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Rubik:wght@300&display=swap');
/* Chakra Font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red;  */
}

body, html {
    background-color: #ddd;
    line-height: 1.3;
    font-family: 'Rubik', sans-serif;
}